{% extends "base.html" %}

{% block content %}
        <!-- header menu - nav -->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <div class="container-fluid content">
            <a href="/"><span class="navbar-brand mb-0 h1"><img src="../static/images/lgc.png" alt="#SnacksForMedStaff" width="100"></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/progress">Progress</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/suggest">Suggest Hospital</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/partners">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/press">Press</a>
                        </li>   
                        <li class="nav-item active">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
        </div>
        </nav>

        <div class="content">
        
        <!-- Team Members section -->
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h3 class="display-5">About Us</h3><hr>
                    <p>We are five Rice students who are passionate about helping small business owners and medical 
                        workers during this difficult time. We love our community and want to make a difference.</p>
                </div>
                
            </div>
        </div>
        <!-- Team info -->
        <div class="container-fluid padding">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="about-div">
                    <h4 class="display-5 text-center">The Visionaries</h4>   
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="LI-profile-badge d-flex justify-content-center pad-vis"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="qianwen-coco-ma-26346854"><a class="LI-simple-link" href='https://www.linkedin.com/in/qianwen-coco-ma-26346854?trk=profile-badge'>Qianwen(Coco) Ma</a></div>
                        <div class="LI-profile-badge d-flex justify-content-center vis-r pad-vis"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="kathleen-kiyoko-harcourt"><a class="LI-simple-link" href='https://www.linkedin.com/in/kathleen-kiyoko-harcourt?trk=profile-badge'>Kathleen Harcourt</a></div>
                    </div>
                </div>

                <div class="about-div">
                    <h4 class="display-5 text-center">The Influencer</h4>
                    <div class="LI-profile-badge d-flex justify-content-center"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="lemboye-ayovaughan-42463111a"><a class="LI-simple-link" href='https://www.linkedin.com/in/lemboye-ayovaughan-42463111a?trk=profile-badge'>Lemboye Ayovaughan</a></div>
                </div>    
                
                <div class="about-div">
                    <h4 class="display-5 text-center">The Operator</h4>
                    <div class="LI-profile-badge d-flex justify-content-center"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="matthew-marand-24291b165"><a class="LI-simple-link" href='https://www.linkedin.com/in/matthew-marand-24291b165?trk=profile-badge'>Matthew Marand</a></div>
                </div>    

                <div class="about-div">
                    <h4 class="display-5 text-center">The Tech Guy</h4>
                    <div class="LI-profile-badge d-flex justify-content-center"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="eschumacker"><a class="LI-simple-link" href='https://www.linkedin.com/in/eschumacker?trk=profile-badge'>Eric Schumacker</a></div>            
                </div>                            
        </div>
        
        <div class="padding"></div>
        <div class="padding"></div>

        </div>  
        
        <footer class="container-fluid"><div class="footer-copyright text-center py-3 fixed-bottom">© 2020 Coco Ma and Kathy Harcourt</div></footer>
        
{% endblock %}