{% extends "base.html" %}

{% block content %}
        <!-- header menu - nav -->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <div class="container-fluid content">
            <a href="/"><span class="navbar-brand mb-0 h1"><img src="../static/images/lgc.png" alt="#SnacksForMedStaff" width="100"></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/progress">Progress</a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link" href="/suggest">Suggest Hospital</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/partners">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/press">Press</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
        </div>
        </nav>

        <div class="content">

        <div class="padding"></div>
        <div class="padding"></div>
        
        
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12">
                    <p>Your recommendation was captured - thanks for the feedback!</p>
                    <p>We review submissions on a daily basis, and will reach out to help this hospital.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid padding">
            <div class="row padding d-block mx-auto">
                    <!-- Go Fund Me Embedded Link -->
                    <div class="gfm-embed " data-url="https://www.gofundme.com/f/snacksformedstaff/widget/medium"></div>
                        <script defer src="https://www.gofundme.com/static/js/embed.js"></script>
            </div>
        </div>
        
        <div class="padding"></div>

        </div>
        
        <footer class="container-fluid"><div class="footer-copyright text-center py-3 fixed-bottom">© 2020 Coco Ma and Kathy Harcourt</div></footer>
        
{% endblock %}