{% extends "base.html" %}

{% block head_addition %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#endModal').modal('show');
    });
</script>
{% endblock %}


{% block content %}
        <!-- header menu - nav -->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <div class="container-fluid content">
            <a href="/"><span class="navbar-brand mb-0 h1"><img src="../static/images/lgc.png" alt="#SnacksForMedStaff" width="100"></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/progress">Progress</a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link" href="/suggest">Suggest Hospital</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/partners">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/press">Press</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
        </div>
        </nav>

        <div class="content">

        <!-- Welcome section, and different columns.   -->
        <div class="container-fluid padding">
                <div class="row welcome text-center">
                    <div class="col-12">
                        <h3 >Suggest A Hospital</h1>  
                    </div>
                    <hr>
                   <div class="col-12">                        
                        <p>Contact information is confidential and will never be sold, traded, or used for any other purpose. 
                            </p>
                    </div>
            </div>
        </div>
        
        <!-- Modal -->
        <!-- Modal -->
<div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Thank You!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Thank you for your interest and support!</p>
              <p>As we've suspended operations as of May 30th, 2020; we are no longer recording suggestions.</p>
              <p>Please continue to wear a mask and follow all guidelines from qualified health officials to keep safe and reduce the burden
                  on our healthcare system!</p>      
              
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


        <!-- Information Prompt Form -->
        <div class="container-fluid padding">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form action="/submit" method="POST" >
                        <div class="form-group">
                            <label for="hospName">Hospital Name</label>
                            <input type="text" class="form-control" id="hospname" placeholder="Enter Name" 
                            name="hospital_name" disabled>
                            {% if message %}
                            <small id="message" class="form-text al">{{ message | safe }}</small>    
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="contactName">Contact Name</label>
                            <input type="text" class="form-control" id="contactName" placeholder="Name" name="contact_name" disabled>
                        </div>

                        <div class="form-group">
                            <label for="contactEmail">Contact Email Address</label>
                            <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" 
                            placeholder="Enter Email" name="contact_email" disabled>
                            <small id="emailHelp" class="form-text text-muted">We don't share or sell contact information.</small>
                        </div>

                        <div class="form-group">
                            <label for="contactPhone">Contact Phone Number</label>
                            <input type="text" class="form-control" id="contactPhone" placeholder="Enter Phone Number" 
                            name="contact_phone" disabled>
                            <small id="emailHelp" class="form-text text-muted">We don't share or sell contact information.</small>
                        </div>

                        <div class="form-group">
                            <label for="commentField">Comments / Additional Information</label>
                            <textarea class="form-control" id="commentField" rows="3" name="comment_field" disabled></textarea>
                        </div>


                       <!--
                        <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Example - if we need a checkbox?</label>
                        </div>-->

                        <div class="padding"></div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#endModal">Submit</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <div class="padding"></div>
        <div class="padding"></div>

        </div>
        
        <footer class="container-fluid"><div class="footer-copyright text-center py-3 fixed-bottom">© 2020 Coco Ma and Kathy Harcourt</div></footer>
{% endblock %}